@import './scss/varialbes.scss';

*,
html {
    margin: 0;
    padding: 0;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(-225deg, $baige-t 20%, $yellow-t 50%, $yellow-t 80%, $green-t 100%);
    ;
}

.info {
    margin: 15px;
    color: rgba($color: #797979, $alpha: .75);
    text-align: center;

    & a {
        text-decoration: none;
        color: $brown;
    }
}